# Local environment variables
.env
.env.*

# Compiled output
/dist/

# Dependency directories
node_modules/

# Testing
/coverage/
/lib-cov/
*.lcov

# Cache
/.cache/
.npm
.vite-node
.eslintcache
*.tsbuildinfo

# Logs
/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs and editors
*.vscode
*.idea
*.launch
*.njsproj
*.ntvs*
*.sln
*.sublime-workspace
*.suo
*.swp
Session.vim

# OS
.DS_Store
