# Local environment variables
.env
.env.*

# Compiled output
/dist/

# Dependency directories
node_modules/

# Testing
/coverage/
*.lcov

# Cache
/.cache/
.npm
.eslintcache
*.tsbuildinfo

# Logs
/logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs and editors
*.idea
*.launch
*.njsproj
*.ntvs*
*.sln
*.sublime-workspace
*.suo
*.swp
Session.vim

# OS
.DS_Store
