# Yarn
/.yarn/
.pnp.*
yarn.lock

# Copied from .gitignore until style formatter allows multiple ignore sources.
# See: https://github.com/prettier/prettier/issues/8048
# .env
.env*

# Compiled output
/dist/
/build/
/lib/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
#!.yarn/cache
.pnp.*

# Dependency directories
node_modules/
jspm_packages/

# Tests
/coverage/
.nyc_output
*.lcov

# Cache
/.cache/
.npm
.eslintcache
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs and editors
Session.vim
*.launch
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
